#temps
bl/history.json
.vscode/
.DS_Store/
__pycache__/
*.pyc
*.pyo
*.log

#mines
*.png
*.jpg
*.jpeg
*.bmp
*.db
*.ttf
*.csv
ko.txt
chinook.sql

#credentials
key
id
id.json
gcert.json
gsak.json
token.json